<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tandean Foods</title>
  </head>

  <body>
    <a href="#" id="skip-link" class="skip-link">skip to content</a>
    <header>
      <app-bar></app-bar>
    </header>
    <hero-component></hero-component>
    <main id="maincontent" tabindex="0">
      <h1 >Explore Restaurant</h1>
      <restaurant-list></restaurant-list>
    </main>

    <footer>
      <p tabindex="0">copyright &copy; 2023 | Culinary Explorer</p>
    </footer>
  </body>
</html>
